<!DOCTYPE html>
<html>
  <head>
    <title>Sistca NodeJs Example</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sistca Precision Agriculture</h1>

    <hr/>
    <form action="/list"><input type="submit" value="List all records" /></form>
    <form action="/add"><input type="submit" value="Add new record" /></form>
  </body>
</html>