<footer class="footer bg-dark text-white-50 fixed-bottom">
    <div class="container text-center align-middle font-weight-light">
        <div class="row">
            <span class="container col-md-3">
                <small>SISTCA <%= new Date().getFullYear();%></small>
            </span>
            <span class="container col-md-6 text-decoration-none">
                <a class="text-white-50" href = "mailto: anr@isep.ipp.pt"><small>ANR</small></a>
                <a class="text-white-50" href = "mailto: fdp@isep.ipp.pt"><small>&nbsp;| FDP</small></a>
                <a class="text-white-50" href = "mailto: mjf@isep.ipp.pt"><small>&nbsp;| MJF</small></a>
                <a class="text-white-50" href = "mailto: pmv@isep.ipp.pt"><small>&nbsp;| PMV</small></a>
                <a class="text-white-50" href = "mailto: vms@isep.ipp.pt"><small>&nbsp;| VMS</small></a>
            </span>
            <span class="container col-md-3">
                <small>NODE LABSCRIPT</small>
            </span>
        </div>
    </div>
</footer>