<nav class="navbar navbar-default navbar-static-top navbar-light py-4 shadow-sm">
    <a class="navbar-brand" href="#">
        <img src="/img/logo.png" class="rounded float-left img-responsive" alt="ISEP">
    </a>
    <form action="/"><input type="submit" class="btn btn-secondary btn-sm m-1" value="Home" /></form>
  </nav>